body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.task-items, .display-task{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  cursor: pointer;
  
}

#task, #date, #insert{
  font-size: 15px;
  padding: 10px 5px;
  cursor: pointer;
}

#insert{
  border: none;
  border-radius: 10px;
  background-color: aquamarine;
  cursor: pointer;
}
#delete{
  padding: 10px 5px;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

#insert:hover, #delete:hover{
  background-color: pink;
  font-size: 105%;
}