body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;      
  height: 100vh;
}

.big-container {
  width: 700px;
  height: auto;
  background: lightblue;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2)
}

.container {
    width: 80%;
    align-items: center;
    margin-top: 4%;
    margin-left: 14%;
    margin-bottom: 4%;
}

.task-items, .display-task{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  cursor: pointer;
  
  
}

#task, #date, #insert{
  font-size: 15px;
  padding: 15px 5px;
  cursor: pointer;
}

#insert{
  border: none;
  border-radius: 10px;
  background-color: aquamarine;
  cursor: pointer;
}
#delete{
  padding: 10px 5px;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
}

#insert:hover, #delete:hover{
  background-color: rgb(53, 238, 195);
  transform: scale(1.1);
}